<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Variables and assignment</td> </tr>
      <tr> <td>09:45</td>  <td>Data types and data conversion</td></tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>10:45</td>  <td>Built-in functions and help</td> </tr>
      <tr> <td>12:00</td>  <td>Libraries</td> </tr>
      <tr> <td>12:30</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">      
      <tr> <td>09:00</td>  <td>Reading tabular data into dataframes</td> </tr>
      <tr> <td>10:00</td>  <td>Pandas dataframes</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>10:45</td>  <td>Plotting</td> </tr>
      <tr> <td>12:30</td>  <td>End</td> </tr>
      <tr> <td>&nbsp;</td>  <td>&nbsp;</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Lists</td> </tr>
      <tr> <td>09:45</td>  <td>For loops</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>10:45</td>  <td>Conditionals</td> </tr>
      <tr> <td>11:45</td>  <td>Looping over data sets</td> </tr>
      <tr> <td>12:30</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Writing functions</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>10:45</td>  <td>Variable scope</td> </tr>
      <tr> <td>12:00</td>  <td>Good programming style</td> </tr>
      <tr> <td>12:20</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
